  body {
    background-color: #d5efee;
    ;
  }

  /*.content {
    max-width: 500px;
    margin: auto;
  }*/

  img {
    border-radius: 50%;
  }

  hr {
    background-color: #d5efee;
    border-style: none;
    border-top-style: dotted;
    border-color: grey: ;
    border-width: 5px;
    width: 80%;
  }

  h1 {
    color: #0f4c75;
    ;
  }

  h3 {
    color: #0f4c75;
    ;
  }
